apple.schema
authldap.ldif
authldap.schema
autofs.ldif
autofs.schema
calendar.ldif
calendar.schema
convert.sh
cron.ldif
cron.schema
dhcp.ldif
dhcp.schema
dnszone.ldif
dnszone.schema
evolutionperson.ldif
evolutionperson.schema
kerberosobject.ldif
kerberosobject.schema
kolab.ldif
kolab.schema
krb5-kdc.ldif
krb5-kdc.schema
ldapns.ldif
ldapns.schema
MIT-kerberos.ldif
MIT-kerberos.schema
netscape-profile.ldif
netscape-profile.schema
openssh-lpk_openldap.ldif
openssh-lpk_openldap.schema
qmailControl.ldif
qmailControl.schema
qmail.ldif
qmail.schema
rfc2307bis.ldif
rfc2307bis.schema
rfc822-MailMember.ldif
rfc822-MailMember.schema
samba.ldif
samba.schema
sudo.ldif
sudo.schema
trust.schema
